.section-item {
  padding: 10px;
}

.box {
  background-color: white;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.box .title-tabla {
  font-size: 1.3rem;
  color: var(--text);
}

.lista-items {
  width: 100%;
}
.lista-items .fila {
  cursor: pointer;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 6px;
  border-radius: 5px;
  margin-bottom: 0px;
  transition: all 1s ease-in-out;
}
.lista-items .fila:hover {
  background-color: var(--primary);
  transform: scale(1.01);
}
.lista-items .fila .celda {
  font-size: 1.2rem;
}

@media (max-width: 768px) {
  .lista-items .fila {
    display: flex;
    flex-direction: column;
    align-items: start;
    background-color: var(--primary);
    margin-bottom: 6px;
  }
}
